{% extends 'base.html.twig' %}


{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <br>
    <br>
    <div class="card">

        <div class="card-header text-white bg-info">
            Your password has changed !
        </div>
        <div class="card-body">
            <a href="http://localhost:8080/login"><button type="button" class="btn btn-info">Login</button> </a>
        </div>



    </div>
</div>



</div>
{% endblock %}