{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
<h1>Create new Annonces</h1>

{{ include('realisations/_form.html.twig') }}

<a href="{{ path('api_realisations_index') }}">back to list</a>
{% endblock %}