<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}
    <form action="/api/login-check" method="post">
        <input type="email" name="email" placeholder="Mail" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Submit</button>
    </form>
    <a href="{{route('app_forgot_password_request')}}">Forgot Password</a>
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>