<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}
    <form action="/create" method="post">
        <input type="text" placeholder="FirstName" />
        <input type="text" placeholder="LastName" />
        <input type="email" placeholder="Mail" />
        <input type="password" placeholder="Password" />
        <button type="submit">Submit</button>
    </form>
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>